<div class="row">
  <div class="col-lg-5 col-md-8 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        Booking confirmation
      </div>
      <div class="card-block">
        <agm-map [latitude]="lat" [longitude]="lng">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
          <ng-container *ngFor="let plan of (routes | async)?.planning">
            <agm-data-layer *ngIf="plan.source === 'google'" [geoJson]="plan.routes[0].overview_polyline.points"></agm-data-layer>
          </ng-container>

        </agm-map>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-5 col-md-8 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        Ticket details
      </div>
      <div class="card-block">
        <div class="card-title">
          57917831
        </div>
        <div class="card-text">
          Use the code above to unlock your bike.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-5 col-md-8 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        Directions
      </div>
      <div class="card-block">
        <clr-stack-view *ngFor="let plan of (routes | async)?.planning">
          <!--<clr-stack-header>Directions</clr-stack-header>-->

          <clr-stack-block *ngIf="plan.source === '9292'">
            <clr-stack-label>9292 Train</clr-stack-label>

            <clr-stack-block>
              <clr-stack-label>Destination</clr-stack-label>
              <clr-stack-content>{{ plan.legs[0].Destination }}</clr-stack-content>
            </clr-stack-block>

            <clr-stack-block>
              <clr-stack-label>Departure platform</clr-stack-label>
              <clr-stack-content>{{ plan.legs[0].DeparturePlatform }}</clr-stack-content>
            </clr-stack-block>

            <clr-stack-block>
              <clr-stack-label>Arrival platform</clr-stack-label>
              <clr-stack-content>{{ plan.legs[0].ArrivalPlatform }}</clr-stack-content>
            </clr-stack-block>

            <clr-stack-block>
              <clr-stack-label>Departure time</clr-stack-label>
              <clr-stack-content>{{ plan.legs[0].DepartureTime }}</clr-stack-content>
            </clr-stack-block>
          </clr-stack-block>

          <clr-stack-block *ngIf="plan.source === 'google'">
              <clr-stack-label>{{ plan.routes[0].legs[0].steps[0].travel_mode }}</clr-stack-label>
              <!--<clr-stack-content>12:00 - 13:00</clr-stack-content>-->

              <clr-stack-block  *ngFor="let step of plan.routes[0].legs[0].steps">
                <clr-stack-label [innerHTML]="step.html_instructions"></clr-stack-label>
                <clr-stack-content>{{ step.duration.text }} ({{step.distance.text }})</clr-stack-content>
              </clr-stack-block>
          </clr-stack-block>
        </clr-stack-view>
      </div>
    </div>
  </div>
</div>

