<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>

<div class="row">
  <div class="col-lg-5 col-md-8 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        Ticket details
      </div>
      <div class="card-block">
        <div class="card-title">
          57917831
        </div>
        <div class="card-text">
          Use the code above to unlock your bike.
        </div>
      </div>
    </div>
  </div>
</div>


<clr-stack-view>
  <clr-stack-header>Directions</clr-stack-header>

  <clr-stack-block [clrSbExpanded]="true">
    <clr-stack-label>Walk</clr-stack-label>
    <clr-stack-content>12:00 - 13:00</clr-stack-content>

    <clr-stack-block>
      <clr-stack-label>Walk from Street to Street</clr-stack-label>
      <clr-stack-content>13:00 - 13:05</clr-stack-content>
    </clr-stack-block>

    <clr-stack-block>
      <clr-stack-label>Walk from Street to Street</clr-stack-label>
      <!--<clr-stack-content>Walk from other street to station</clr-stack-content>-->
    </clr-stack-block>
  </clr-stack-block>

  <clr-stack-block>
    <clr-stack-label>Train</clr-stack-label>
    <clr-stack-content>13:00 - 14:00</clr-stack-content>

    <clr-stack-block>
      <clr-stack-label>Get train to Blah station</clr-stack-label>
    </clr-stack-block>
  </clr-stack-block>
</clr-stack-view>
