.park {
  height: 50px;

  margin-right: 15px;
}

.nav-link {
  font-size: 1.1rem;
  font-family: Futura;
  text-transform: uppercase;
  letter-spacing: 0.5rem;

  &:active, &:visited {
    color: #ecfffd;
  }

  &:hover {
    color: #FFFFFF;
  }
}
