<span class="spinner" *ngIf="isSubmitting">
    Loading...
</span>

<!--<form class="form" [formGroup]="bookingForm" (ngSubmit)="onSubmit($event);" [hidden]="isSubmitting">-->
  <!--<section class="form-block">-->
    <!--<label>Book your journey</label>-->
    <!--&lt;!&ndash; Start location &ndash;&gt;-->
    <!--<div class="form-group">-->
      <!--<label for="from">From</label>-->
      <!--<label for="from"-->
             <!--aria-haspopup="true"-->
             <!--role="tooltip"-->
             <!--class="tooltip tooltip-validation tooltip-sm"-->
             <!--[class.invalid]="bookingForm.get('from').invalid-->
                    <!--&& (bookingForm.get('from').dirty || bookingForm.get('from').touched)">-->
        <!--<input id="from" type="text"-->
               <!--formControlName="from">-->
        <!--<span class="tooltip-content">-->
                    <!--From is required.-->
                <!--</span>-->
      <!--</label>-->
    <!--</div> &lt;!&ndash; /Start location &ndash;&gt;-->

    <!--&lt;!&ndash; To &ndash;&gt;-->
    <!--<div class="form-group">-->
      <!--<label for="to">To</label>-->
      <!--<label for="to"-->
             <!--aria-haspopup="true"-->
             <!--role="tooltip"-->
             <!--class="tooltip tooltip-validation tooltip-sm"-->
             <!--[class.invalid]="bookingForm.get('to').invalid-->
                    <!--&& (bookingForm.get('to').dirty || bookingForm.get('to').touched)">-->
        <!--<input id="to" type="text"-->
               <!--formControlName="to">-->
        <!--<span class="tooltip-content">-->
                    <!--To is required.-->
                <!--</span>-->
      <!--</label>-->
    <!--</div> &lt;!&ndash; /To &ndash;&gt;-->


    <!--&lt;!&ndash; Time &ndash;&gt;-->
    <!--<div class="form-group">-->
      <!--<label for="time">Time</label>-->
      <!--<label for="time"-->
             <!--aria-haspopup="true"-->
             <!--role="tooltip"-->
             <!--class="tooltip tooltip-validation tooltip-sm"-->
             <!--[class.invalid]="bookingForm.get('time').invalid-->
                    <!--&& (bookingForm.get('time').dirty || bookingForm.get('time').touched)">-->
        <!--<input id="time" type="time"-->
               <!--formControlName="time">-->
        <!--<span class="tooltip-content">-->
                    <!--Time is required.-->
                <!--</span>-->
      <!--</label>-->
    <!--</div>  &lt;!&ndash; /Destination &ndash;&gt;-->

    <!--&lt;!&ndash; Bike &ndash;&gt;-->
    <!--<div class="form-group">-->
      <!--<label for="bike">Bike</label>-->
      <!--<div class="select">-->
        <!--<select id="bike" formControlName="bike">-->
          <!--<option>ov-fiets</option>-->
          <!--<option>nextbike</option>-->
          <!--<option>mobike</option>-->
          <!--<option>donkey</option>-->
        <!--</select>-->
      <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; /Bike &ndash;&gt;-->


    <!--<button class="btn btn-primary"-->
            <!--type="submit"-->
            <!--[disabled]="bookingForm.invalid">Book</button>-->
  <!--</section>-->
<!--</form>-->

<form class="form" [formGroup]="bookingForm" (ngSubmit)="onSubmit($event)" [hidden]="isSubmitting">
<div class="row">
  <div class="col-lg-5 col-md-8 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        Begin your journey
      </div>
      <div class="card-block">
          <section class="form-block">
            <!--<label>Book your journey</label>-->
            <!-- Start location -->
            <div class="form-group">
              <label for="from">From</label>
              <label for="from"
                     aria-haspopup="true"
                     role="tooltip"
                     class="tooltip tooltip-validation tooltip-sm"
                     [class.invalid]="bookingForm.get('from').invalid
                    && (bookingForm.get('from').dirty || bookingForm.get('from').touched)">
                <input id="from" type="text"
                       formControlName="from">
                <span class="tooltip-content">
                    From is required.
                </span>
              </label>
            </div> <!-- /Start location -->

            <!-- To -->
            <div class="form-group">
              <label for="to">To</label>
              <label for="to"
                     aria-haspopup="true"
                     role="tooltip"
                     class="tooltip tooltip-validation tooltip-sm"
                     [class.invalid]="bookingForm.get('to').invalid
                    && (bookingForm.get('to').dirty || bookingForm.get('to').touched)">
                <input id="to" type="text"
                       formControlName="to">
                <span class="tooltip-content">
                    To is required.
                </span>
              </label>
            </div> <!-- /To -->

            <!-- Time -->
            <div class="form-group">
              <label for="departDate">Date</label>
              <label for="departDate"
                     aria-haspopup="true"
                     role="tooltip"
                     class="tooltip tooltip-validation tooltip-sm"
                     [class.invalid]="bookingForm.get('departDate').invalid
                    && (bookingForm.get('departDate').dirty || bookingForm.get('departDate').touched)">
                <input id="departDate" type="date" formControlName="departDate" clrDate>
                <span class="tooltip-content">
                    Date is required.
                </span>
              </label>
            </div>  <!-- /Destination -->


            <!-- Time -->
            <div class="form-group">
              <label for="time">Time</label>
              <label for="time"
                     aria-haspopup="true"
                     role="tooltip"
                     class="tooltip tooltip-validation tooltip-sm"
                     [class.invalid]="bookingForm.get('time').invalid
                    && (bookingForm.get('time').dirty || bookingForm.get('time').touched)">
                <input id="time" type="time"
                       formControlName="time">
                <span class="tooltip-content">
                    Time is required.
                </span>
              </label>
            </div>  <!-- /Destination -->
          </section>
      </div>
      <div class="card-block" *ngIf="bookingForm.get('time').touched">
        Walk 800m to Eindhoven station<br />
        Depart Eindhoven station, Platform 1 at 00:00
      </div>
      <div class="card-block" *ngIf="bookingForm.get('time').touched">
        <div class="alert alert-warning" *ngIf="bookingForm.get('time').touched && bookingForm.get('time').value === '00:00'">
          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="exclamation-triangle"></clr-icon>
              </div>
              <span class="alert-text">Last train. The next train is available at 06:30.</span>
              <div class="alert-actions">
                <a href="#" class="alert-action">See earlier times</a>
              </div>
            </div>
          </div>
          <button type="button" class="close" aria-label="Close">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
          </button>
        </div>


        <div class="alert alert-info" *ngIf="bookingForm.get('time').touched && bookingForm.get('time').value !== '00:00'">
          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
              </div>
              <span class="alert-text">Later trains are available</span>
              <div class="alert-actions">
                <a href="#" class="alert-action">See more</a>
              </div>
            </div>
          </div>
          <button type="button" class="close" aria-label="Close">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
          </button>
        </div>
      </div>
      <!--<div class="card-footer">-->
        <!--<button class="btn btn-primary"-->
                <!--type="submit"-->
                <!--[disabled]="bookingForm.invalid"></button>-->
      <!--</div>-->
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-5 col-md-8 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        Choose your bike
      </div>

      <div class="card-block">
        <agm-map [latitude]="lat" [longitude]="lng">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
      </div>

      <div class="card-block">
        <!-- Bike -->
        <div class="form-group">
          <label for="bike">Bike</label>
          <div class="select">
            <select id="bike" formControlName="bike">
              <option>ov-fiets</option>
              <option>nextbike</option>
            </select>
          </div>
        </div>
        <!-- /Bike -->
      </div>
      <div class="card-block" *ngIf="bookingForm.get('bike').value !== ''">
        <ul>
          <li *ngIf="bookingForm.get('bike').value === 'ov-fiets'">Bike needs to be returned within 24 hours</li>
          <li *ngIf="bookingForm.get('bike').value === 'nextbike'">Bike is free float</li>
          <li *ngIf="bookingForm.get('bike').value === 'ov-fiets'">Rental fee is €3,85 per 24h</li>
          <li *ngIf="bookingForm.get('bike').value === 'nextbike'">Rental fee is €1,50 per 30m</li>
        </ul>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary"
                type="submit"
                [disabled]="bookingForm.invalid">Book</button>
      </div>
    </div>
  </div>
</div>
</form>
